#title {
    width: 30%;
    float: left;
    color: green;
}

#title h2 {
    border-width: 4px;
    border-style: dotted dashed solid double;
    padding: 10px;
    text-align: center;
}

.line {
    float: left;
    margin-top: 71px;
    background-color: red;
    width: 70%;
    height: 4px;
}

#form-login {
    margin-top: 45px;
    background-color: rgba(90,191,219,255);
}

.form-text {
    font-style: italic;
}

.title-css {
    border: 1px solid red;
    background-color: #49d68c;
    padding: 5px;
    width: 360px;
}

.table-line {
    margin: 17px 0 17px;
    background-color: green;
    height: 2px;
    width: 800px;
}

.title-button {
    background-color: green;
    color: white;
    padding: 6px 35px 6px;
}