/*Header -- Begin*/
/* 
p{
    color: red;
}

h2{
    background-color: purple;
    color: #fff;
    font-style: italic;
} */

/*Header -- End*/

/* h3{
    color: blue;
} */

/*
h2 => selector (bộ chọn, vùng chọn)
background-color, color, font-size => Thuộc tính
purple, #fff, italic => Giá trị
*/

#text{
    color: red;
}

.title{
    color: green;
}

.feature{
    color: purple;
}

h3{
    color: green;
    font-style: italic;
}