body {
    width: 100%;
    height: 800px;
}

.content {
    width: 100%;
    height: 700px;
    background-image: url('../bt/backgroundfs6.jpg');
    background-repeat: no-repeat;
    background-size: 868px 564px;
    background-position: center;
}

.content-position {
    position: absolute;
    padding-top: 165px;
    padding-left: 375px;
}

.content-text {
    color: red;
    font-size: 30px;
    margin-bottom: -12px;
}

.content-text-2 {
    margin-top: 15px;
    font-size: 30px;
}

.content-pText {
    margin-top: -7px;
    font-size: 17px;
}

.title-text {
    font-family: sans-serif;
    text-align: center;
}

.content-button {
    padding: 10px 20px;
    background-color: #b6b6b6b6;
    border: 2px solid #fff;
    color: #fff;
    font-size: 18px;
}

.content-button:hover {
    background-color: gray;
}
